.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-container {
  width: 67%;
  height: 60vh;
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.cam-container {
  height: 100%;
  width: 50%;
  margin: 20px;
  background-color: seagreen;
}

.cities-container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}
.citie-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.citie-name {
  width: 20%;
  text-align: center;
  padding: 12px 80px;
  background-color: rgb(202, 201, 201);
  margin: 0.3rem 0 1.5rem 0;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 10%;
  margin-bottom: 4rem;
}
button {
  border: 1px solid black;
  outline: none;
  padding: 5px 10px;
  margin: 2rem;
}
.control-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.drag-circle {
  width: 200px;
  height: 200px;
  clip-path: inset(0px 0px 0px round 200px 200px 200px 200px);
  background-color: rgb(202, 198, 198);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .panel-container {
    flex-direction: column;
    height: 90vh;
  }
  .cam-container {
    width: 100%;
    height: 100vh;
  }
}
